.AboutusBg {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: auto;
    padding: 65px 0;
    background-color: #F9F9F9;
}

.aboutHeader {
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}

.aboutHeader h4 {
    font-size: 35px;
    font-weight: 600;
    color: #000;
}

.aboutHeader h1 {
    font-size: 99px;
    font-weight: 700;
    background: -webkit-linear-gradient(#0088EC, #7DE37E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.aboutHeader p {
    color: #848484;
    font-size: 16px;
    margin-bottom: 20px;
}

.imgeCline {
    width: 100%;
    height: auto;
    padding: 15px 0;
    text-align: center;
}
@media screen and (max-width: 768px){
    .aboutHeader h1{
        font-size: 55px;
    }
    .imgeCline{
        display: flex;
        justify-content: space-evenly;
    }
    .aboutHeader h4{
        font-size: 30px;
    }
}