.DetailedPricingBg {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: #fff;
}

.PricnOverw {
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
}

.PricnOverw h2 {
    color: #000;
    font-size: calc(1.65rem + .9vw);
    font-weight: 600;
}

.StartEnstial tr th {
    color: #3884C7;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.TbodyEnstial tr td {
    color: #6E6E6E;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.TbodyEnstial tr td a {
    text-decoration: none;
    color: #3984C7;
}

.TbodyEnstial tr th {
    color: #444444;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}