.ExportSolutionsBG {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    padding: 60px 0;
}

.tradeBg {
    text-align: center;
}

/* .tradeBg {
    mix-blend-mode: multiply;
 } */

.tradeText {
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
}

.tradeText h1 {
    color: #171A31;
    font-size: 55px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}

.tradeText h3 {
    color: #ffffff;
    background-color: #66B167;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    padding: 7px 55px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

.tradeText p {
    color: #171a31b0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.TrlBtn {
    background-color: #3884C7;
    color: #fff;
    border-radius: 40px;
    padding: 11px 40px !important;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    text-align: center;
}

.frokDemo {
    border-color: #CACACA;
    border-radius: 100px;
    padding: 10px 25px;
}

.captImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

@media screen and (max-width: 768px) {
    .tradeText {
        width: 100%;
        margin: 0;
    }

    .tradeText h1 {
        font-size: 45px;
    }

    .tradeText h3 {
        padding: 6px 20px;
    }

    .devidt {
        text-align: center;
        width: 100%;
        margin: 20px 0;
    }

    .captImg {
        justify-content: space-around;
    }

    .captImg img {
        width: 26%;
    }

    .tradeBg img {
        width: 100%;
    }
}