.PlatformHeaderine {
    background-color: #F4F4F4;
    width: 100%;
    height: auto;
    padding: 30px;
    font-family: "Roboto", sans-serif;
}

.pltrtradeText {
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
}

.pltrtradeText h1 {
    color: #171A31;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 77px;
}

.pltrtradeText p {
    font-size: 16px;
    line-height: 28px;
    color: #848484;
}

.captDemobd {
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    gap: 2rem;
}

.captImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.TrlBtn {
    background-color: #3884C7;
    color: #fff;
    border-radius: 40px;
    padding: 11px 25px !important;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.getainsider {
    color: #3884C7;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .PlatformHeaderine {
        padding: 60px 0;
    }

    .pltrtradeText {
        margin: 0;
    }

    .pltrtradeText h1 {
        font-size: 40px;
        line-height: normal;
    }

    .captDemobd {
        gap: 0.5rem;
        justify-content: space-between;
    }

    .TrlBtn {
        font-size: 13px;
        padding: 9px 10px !important;
    }

    .getainsider {
        font-size: 15px;
    }

    .captImg {
        justify-content: space-around;
    }

    .captImg img {
        width: 26%;
    }
}